.login-form-sub1{
    background-color: rgba(0, 0, 255,0.65);
    width: 50vw;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}
.login-form-sub1-div{
    position: relative;
}
#logo{
    position: absolute;
    left: 61.03px;
    top: 54.37px;
}
#line{
    position: absolute;
    Top: 79.71px;
    Left: 58.03px;
}
.board{
    position: absolute;
    color: white;
    font-size: 3.5vw;
    font-weight: bold;
    top: 230.37px;
    left: 216.33px;
}
.icons{
top: 549px;
left: 170.5px;
position: absolute;
color: white;
font-size: 30px;
}
i{
    padding-right: 25px;
}
